<% unless results.total_pages < 2%>
  <nav class="text-center">
    <ul class="pagination">
      <li>
        <%= link_to pagination_link(results.prev_page) do %>
          <span aria-hidden="true">&laquo;</span></a>
        <% end %>
      </li>
      <% unless results.current_page == 1%>
        <li><%= link_to "1", pagination_link(1) %></li>
      <% end %>
      <% if show_down_elipsis?(results.current_page) %>
        <li class="active elipsis"><a href="#">...</a></li>
      <% end %>
      <% pages_link_array(results.current_page, results.total_pages).each do |page| %>
        <li class="<%= page == results.current_page ? 'active' : ''  %>">
          <%= link_to page, pagination_link(page) %>
        </li>
      <% end %>
      <% if show_upper_elipsis?(results.current_page, results.total_pages)%>
        <li class="active elipsis"><a href="#" style="background: white">...</a></li>
      <% end %>
      <li>
        <%= link_to pagination_link(results.total_pages) do %>
          <%= results.total_pages %>
        <% end %>
      </li>
      <li>
        <%= link_to pagination_link(results.next_page) do %>
          <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>