<%= render :partial => "shared/searching_modal" %>
<div class="hpanel col-md-3">
    <div class="panel-body">
      <%= form_tag '', method: :get, class: "search-form", data: {turboform: true} do %>
            <%= label_tag "De" %>
            <%= email_field_tag(
                :from,
                params[:from],
                placeholder: "remitente@domain.com",
                class: "form-control"
            ) %>
            <%= label_tag "Para" %>
            <%= email_field_tag(
                :to,
                params[:to],
                placeholder: "para@domain.com",
                class: "form-control"
            ) %>
            <%= label_tag "Desde" %>
            <%= text_field_tag(
                :s_date,
                params[:s_date],
                placeholder: I18n.l(Date.today),
                class: "form-control datepicker"
            ) %>
            <%= label_tag "Hasta" %>
            <%= text_field_tag(
                :e_date,
                params[:e_date],
                placeholder: I18n.l(Date.today),
                class: "form-control datepicker"
            ) %>
            <%= label_tag "Resultados x página" %>
            <%= number_field_tag(
                :per_page,
                params[:per_page],
                placeholder: '25',
                class: "form-control"
            ) %>
            <br/>
        <%= submit_tag "Buscar!", class: "btn btn-primary", style: "padding-left: 20px; padding-right: 20px; " %>
      <% end %>
    </div>
</div>


