<div class="col-md-3">
  <table class="table table-message-stats">
    <tr>
      <td class="header-field">RUT Emisor</td>
      <td class="header-value"><%= @dte_message.rut_emisor %></td>
    </tr>
    <tr>
      <td class="header-field">RUT Receptor</td>
      <td class="header-value"><%= @dte_message.rut_receptor %></td>
    </tr>
    <tr>
      <td class="header-field">Tipo Folio</td>
      <td class="header-value"><%= @dte_message.dte.dte_type %></td>
    </tr>
    <tr>
      <td class="header-field">Folio</td>
      <td class="header-value"><%= @dte_message.dte.folio %></td>
    </tr>
    <tr>
      <td class="header-field">Estado</td>
      <td class="header-value">
        <span class="label-delivery delivery-<%= @message.delivery_status %>">
          <%= delivery_status_text @message %>
        </span>
      </td>
    </tr>
  </table>
</div>
