<div class="col-md-7">
  <table class="table table-message-header">
    <tr>
      <td class="header-field">De</td>
      <td class="header-value"><%= @message.from %></td>
    </tr>
    <tr>
      <td class="header-field">Para</td>
      <td class="header-value"><%= @message.to %></td>
    </tr>
    <tr>
      <td class="header-field">Fecha</td>
      <td class="header-value"><%= I18n.l @message.sent_date, format: :log %></td>
    </tr>
    <tr>
      <td class="header-field">MessageID</td>
      <td class="header-value"><%= truncate(@message.message_id, length: 200) %></td>
    </tr>
    <tr>
      <td class="header-field">SetDTEId</td>
      <td class="header-value"><%= @message.dte.setdte_id %></td>
    </tr>
  </table>
</div>
