<div class="col-md-7">
  <table class="table table-message-header">
    <tr>
      <td class="header-field">De</td>
      <td class="header-value"><%= @dte_message.from %></td>
    </tr>
    <tr>
      <td class="header-field">Para</td>
      <td class="header-value"><%= @dte_message.to %></td>
    </tr>
    <tr>
      <td class="header-field">Fecha</td>
      <td class="header-value"><%= I18n.l @dte_message.sent_date.in_time_zone(-4) %></td>
    </tr>
    <tr>
      <td class="header-field">MessageID</td>
      <td class="header-value"><%= truncate(@dte_message.message_id, length: 200) %></td>
    </tr>
    <tr>
      <td class="header-field">SetDTEId</td>
      <td class="header-value"><%= @dte_message.dte.setdte_id %></td>
    </tr>
  </table>
</div>
