<div class="hpanel">

  <% if flash[:alert] && flash[:timedout] %>
    <div class="alert alert-info" id="flash_error">
      <i class="fa fa-clock-o"></i>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:alert] && !flash[:timedout] %>
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-circle"></i>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="panel-body" style="padding-left: 80px; padding-right: 80px; padding-bottom:30px">
    <h2 class="text-center" style="margin-bottom: 30px">
      CarterApp <span style="font-style: italic">Beta</span><br/>
      <small>Auditoría de tráfico de correo</small>
    </h2>
      <%= simple_form_for :session, :url => "/users/auth/zendesk/callback", wrapper: :vertical_form do |f| %>
       <%= f.input :email, label_html: { class: 'col-sm-10' }, input_html: { name: "email" },
           label: 'Email con que ingreas al portal de soporte' %>
       <%= f.input :password,  label_html: { class: 'col-sm-10' }, input_html: { name: "password" },
           label: 'Contraseña del portal de soporte' %>
       <%= f.input :site, :as => :hidden,
           :input_html => {
             :value => Devise.omniauth_configs[:zendesk].options[:site],
             name: "site"
            }
        %>
       <%= f.button :submit, "Ingresar", class: "btn btn-success btn-block" %>
      <% end %>
  </div>
  <div class="panel-footer">
    <h5>
      <%= link_to "* Olvidé mi contraseña",
      'http://soporte.itlinux.cl/access/unauthenticated?theme=hc#password-reset',
      target: '_new' %>
    </h5>
  </div>
</div>
