<nav class="text-center">
  <ul class="pagination">
    <li>
      <%= link_to dte_page_link(@messages.prev_page) do %>
        <span aria-hidden="true">&laquo;</span></a>
      <% end %>
    </li>
    <li>
      <%= link_to dte_page_link(1) do %>
        Primera <span class="sr-only">Primera</span>
      <% end %>
    </li>
    <li class="active">
      <a href="#"><%= @messages.current_page %>
        <span class="sr-only"><%= @messages.current_page %></span>
      </a>
    </li>
    <li>
      <%= link_to dte_page_link(@messages.total_pages) do %>
        Última <span class="sr-only">Última</span>
      <% end %>
    </li>
    <li>
      <%= link_to dte_page_link(@messages.next_page) do %>
        <span aria-hidden="true">&raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>